body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
html {
  font-size: 62.5%;
}

code {
  font-family: "Josefin Sans", sans-serif !important;
}
